<section class="relative h-[600px] mt-20 overflow-hidden">
    <video #heroVideo autoplay loop muted playsinline [muted]="true" oncanplay="this.play()"
        onloadedmetadata="this.muted = true"
        class="absolute inset-0 w-full h-full object-cover object-[30%] md:object-center">
        <source src="/assets/images/acu_hero_final_2.mp4" type="video/mp4">
    </video>


    <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    <div class="swiper-container h-full">
        <!-- Carousel implementation will go here -->
        <div class="relative h-full">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="text-center">
                    <h2 class="text-4xl md:text-6xl font-bold text-primary mb-4">
                        Handcrafted with Love
                    </h2>
                    <p class="text-xl text-gray-600 mb-8 text-white">
                        Discover unique artisan products made just for you
                    </p>
                    <button class="btn-primary" [routerLink]="'/shop'">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
</section>