<div class="container mx-auto px-4 py-8 mt-20">
    <h1 class="text-3xl font-bold mb-6">Shipping Policy</h1>
    <div class="prose max-w-none">
        <div class="shipping-policy-content">


            <p><strong>Last updated December 17, 2023</strong></p>

            <p>Please carefully review our Shipping & Delivery Policy, when purchasing our products. This policy will
                apply to any order you place with us.</p>

            <h2>WHAT ARE MY SHIPPING & DELIVERY OPTIONS?</h2>
            <p>We offer various shipping options, in most cases a third-party supplier <strong>Shiprocket</strong> will
                be managing our inventory and will be responsible for shipping your products</p>

            <h3>Free Shipping</h3>


            <p>We also offer expedited shipping at the following rates:</p>

            <table>
                <thead>
                    <tr>
                        <th>Shipping Type</th>
                        <th>Standard Shipping</th>
                        <th>Expedited Shipping</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Days</td>
                        <td>7-12 working days</td>
                        <td>4-6 working days</td>
                    </tr>
                    <tr>
                        <td>Charges</td>
                        <td>100/-</td>
                        <td>180/-</td>
                    </tr>
                </tbody>
            </table>

            <p>If you select an expedited shipping option, we will follow up after you have placed the order with any
                additional shipping information.</p>
            <p>All times and dates given for delivery of the products are given in good faith but are estimates only.
            </p>

            <h2>DO YOU DELIVER INTERNATIONALLY?</h2>
            <p>Yes, we do offer international shipping.</p>

            <h2>ARE THERE OTHER SHIPPING RESTRICTIONS?</h2>
            <ul>
                <li>Orders only ship on business days, which are <strong>Monday-Friday</strong></li>
                <li>To ensure expedited delivery, orders must be placed by <strong>2pm IST</strong>.</li>
                <li>Shipments of <strong>Custom orders</strong> require additional processing time (Usually <strong>3-4
                        making days</strong> in
                    addition to Standard/ Expedited Shipping methods)</li>
            </ul>

            <h2>WHAT HAPPENS IF MY ORDER IS DELAYED?</h2>
            <p>If delivery is delayed for any reason we will let you know as soon as possible and will advise you of a
                revised estimated date for delivery.</p>

            <h2>QUESTIONS ABOUT RETURNS?</h2>
            <p>If you have questions about returns, please review our <a routerLink="/return-policy">Return
                    Policy</a></p>

            <h2>HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h2>
            <p>If you have any further questions or comments, you may contact us by:</p>
            <ul>
                <li>Phone: 8849800537</li>
                <li>Email: <a href="mailto:ashwini@ahiruscreativeuniverse.in">ashwini&#64;ahiruscreativeuniverse.in</a>
                </li>
            </ul>
        </div>
    </div>
</div>